<!DOCTYPE html>
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<html>
<head>
	<f:section name="stylesheets">
		<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/bootstrap.css', package: 'AR.AndreasRieger')}" media="all" />
	</f:section>
	<f:section name="headScripts">
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-MKHD74S');</script>
		<!-- End Google Tag Manager -->
	</f:section>
</head>
<body>
<f:section name="body">
	{content.main -> f:format.raw()}
	{parts.menu -> f:format.raw()}
</f:section>
<f:section name="bodyScripts">
	<script src="{f:uri.resource(path: 'JavaScript/jquery.slim.min.js', package: 'AR.AndreasRieger')}"></script>
	<script src="{f:uri.resource(path: 'JavaScript/popper.min.js', package: 'AR.AndreasRieger')}"></script>
	<script src="{f:uri.resource(path: 'JavaScript/bootstrap.min.js', package: 'AR.AndreasRieger')}"></script>
	<script src="{f:uri.resource(path: 'JavaScript/FontAwesome/all.js', package: 'AR.AndreasRieger')}"></script>
	<script src="{f:uri.resource(path: 'JavaScript/custom.js', package: 'AR.AndreasRieger')}"></script>
</f:section>
</body>
</html>
