{namespace neos=Neos\Neos\ViewHelpers}

<section{attributes -> f:format.raw()}>
	<div class="container">
		<f:if condition="{showTitle}">
      <f:then>
        <neos:contentElement.editable property="title" tag="h2" class="display-4 text-center pt-4 mb-2" />
        <!-- <h1 class="display-4 text-center mb-2">{title -> f:format.raw()}</h1> -->
        <hr class="my-4"/>
        {sectionContent -> f:format.raw()}
      </f:then>
      <f:else>
        {sectionContent -> f:format.raw()}
      </f:else>
    </f:if>
	</div>
</section>
