// Custom overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$fa-font-path: "../Fonts";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/fa-brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/fa-regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/fa-solid";

/*
 * Style tweaks
 * --------------------------------------------------
 */

.teaser {
 	background-image: url("../Images/logo.svg");
 	background-size: contain;
 	background-repeat: no-repeat;
}

.jumbotron {
  background: rgba(238,238,238,0.8);
}

#fa-icon-xing a:hover {
  color: #b0d400;
}

#fa-icon-linkedin a:hover {
  color: #0077b5;
}

#fa-icon-github a:hover {
  color: #24292e;
}


 /* CUSTOMIZE THE NAVBAR
 -------------------------------------------------- */

 /* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

#specialmenu {
  background-color: rgba(255, 255, 255, 0.9);
}

.navbar {
 	background-image: url("../Images/logo.svg");
 	background-repeat: no-repeat;
 	background-size: contain;
}

// #specialmenu .nav-item {
//   background-color: rgba(0, 0, 0, 0.5);
// }

 /* RESPONSIVE CSS
 -------------------------------------------------- */

@include media-breakpoint-up(sm) {
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}

@include media-breakpoint-down(lg) {
  .navbar-wrapper .container {
    padding-right: 0;
    padding-left: 0;
  }
}
